table {
  border: 1px solid black;
  width: 96%;
  margin-top: 20px;
  margin: 20px auto 0 auto;
}

th {
  border-bottom: 1px solid black;
  background-color: rgb(233, 233, 233);
  font-size: 18px;
}

td {
  text-align: center;
}

.addEmpButton {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.addEmpButton:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.addEmpButton:active {
  position: relative;
  top: 1px;
}

.addEmpButton:disabled {
  box-shadow: inset 0px 1px 0px 0px #4b5054;
  background: linear-gradient(to bottom, #989ea1 5%, #989ea1 100%);
  background-color: #989ea1;
  border: 1px solid #868c91;
  text-shadow: 0px 1px 0px #505357;
  cursor: unset;
}

.cancelButton {
  box-shadow: inset 0px 1px 0px 0px #4b5054;
  background: linear-gradient(to bottom, #989ea1 5%, #989ea1 100%);
  background-color: #989ea1;
  border-radius: 3px;
  border: 1px solid #868c91;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #505357;
}
.cancelButton:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #989ea1 100%);
  background-color: #0061a7;
}
.cancelButton:active {
  position: relative;
  top: 1px;
}

.add_container {
  margin-top: 30px;
  margin-left: 19px;
}

.add_form_container {
  margin-top: 30px;
  margin-left: 19px;
  display: none;
}
.el_container {
  display: flex;
  margin-bottom: 8px;
}

.el_label {
  width: 80px;
  display: inline-block;
}

.error_txt {
  color: red;
  margin-left: 10px;
  display: none;
}

.input_err {
  border: 1px solid red;
}

.no_emp_container {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  display: none;
}

.delButton {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
}
.delButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.delButton:active {
  position: relative;
}

.editButton {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #2dabf9 5%, #137aba 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #137aba;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 11px;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #137aba;
  margin-right: 8px;
}
.editButton:hover {
  background: linear-gradient(to bottom, #137aba 5%, #137aba 100%);
  background-color: #137aba;
}
.editButton:active {
  position: relative;
}
