.login_container {
  border: 1px solid black;
  width: 300px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

h3 {
  margin-top: 0;
}

.input_field {
  margin-bottom: 10px;
}

.input_label {
  width: 90px;
  display: inline-block;
}
.button_container {
  display: flex;
  justify-content: center;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.myButton:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.msg_txt {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: none;
}

.success_msg {
  color: green;
}

.error_msg {
  color: red;
}
