.login_container {
  width: 300px;
  border: 1px solid black;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
}

h3 {
  margin-top: 0;
}

.input_element {
  margin-bottom: 10px;
}

.label_element {
  display: inline-block;
  width: 90px;
  font-weight: bold;
}

.msg_txt {
  font-size: 18px;
  font-weight: 800;
  display: none;
}

.succes_msg {
  color: green;
}

.error_msg {
  color: red;
}

.myButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid #057fd0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.myButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}
.myButton:active {
  position: relative;
  top: 1px;
}
